.background_usertemplate{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: contain;
    justify-content: center;
    background-image: url(../../assests//img/bgAuth.jpg);
    background-position: center;
  
}
//  background-image: url(../../assets/img/bgAuth.jpg);